* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: 'MyFont';
    src: url('/src/Fonts/DigitaltS-Plum-be08.woff') format('woff');
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 215, 199);

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    header {
        width: 100vw;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            // color: black;
            font-size: clamp(2rem, 15vw, 4rem);
            font-weight: 700;
            font-family: MyFont;
        }
    }

    main {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 700px) {
            height: 100vh;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .lower {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            @media (max-width: 700px) {
                flex-direction: column;
                gap: 1.5rem;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(10, 0fr);
                margin: 1rem;
                border: 2px solid black;
        
                .cell {
                    border: 1px solid black;
                    width: clamp(2rem, 5vw, 2.7rem);
                    height: clamp(2rem, 5vw, 2.7rem);
                }
        
                .cell.hover {
                    background-color: gray;
                    cursor: pointer;
                }
        
                .cell[data-value="1"] {
                    background-color: gray;
                }
                .cell[data-value="2"] {
                    background-color: green;
                }
                .cell[data-value="3"] {
                    background-color: red;
                }
            }
        }

    }

    footer {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;


        .text {
            color: black;
            font-size: 20px;

            @media (max-width: 333px) {
                font-size: 15px;
            }

            a {
                img {
                    height: 25px;
                    margin-bottom: 5px;
                    margin-left: 8px;
                    width: auto;
                }

                img:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

}